body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1 {
  margin: 0;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  flex-direction: column;
}

.upper-part {
  margin-top: 4rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 4rem);
}

table,
th,
td {
  border: 1px solid black;
}

td > input {
  width: 50px;
}

input[type="number"] {
  width: 50px;
}

th {
  cursor: pointer;
}

.th-accepted {
  color: lightgreen;
}

.operations-container {
  visibility: hidden;
  display: flex;
  justify-content: center;
}

.operations-container > button {
  margin: 40px;
}

#output-table {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#output-table td {
  width: 50px;
}
